body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #23252c;
}

.app {
  font-family: 'Inter';
  color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 317px;
  height: auto;
  background: #1a1b21;

  border-radius: 20px;
  margin: auto;
  margin-top: 20px;
}
